h1 { color: red}

h2 { color: green}

p { color: black}

.outer{
    width:200px;
    height:200px;
    text-align: center;
    border-top: solid 10 px;
    border-right: solid 10 px;
    border-bottom: solid 10 px;
    border-left: solid 10 px;
    border-radius: 10 px;
    border: 10px solid green;

}